* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: #f8f8f8;
    text-align: center;
    font: 15px Alegreya, sans-serif;
    text-shadow: 1px 1px 0 #fff;
}

.persona {
    width: 220px;
    height: 220px;
    margin: 50px auto 60px;
    position: relative;
}

.photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 0 #fff;
}

.content-position {
    position: relative;
}

.name {
    font-weight: 400;
    font-size: 48px;
    padding-bottom: 20px;
}

.list {
    padding-top: 25px;
    position: relative;
}

.piece:first-child {
    margin-left: 0;
}

.piece {
    display: inline-block;
    padding-left: 20px;
    margin-left: 50px;
    text-align: left;
    vertical-align: top;
    width: 280px;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

.link {
    display: inline-block;
    padding: 10px 14px 8px 40px;
    position: relative;
    border-radius: 3px;
    -webkit-transition: background 200ms;
    transition: background 200ms;
}

.link:hover {
    background: rgba(0, 0, 0, .04)
}

.link:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}

.label, .login {
    color: #666;
}

.value {
    padding-top: 3px;
    font-size: 24px;
}

.service {
    font-size: 24px;
}

.dash {
    color: #bbb;
    padding: 0 4px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 37px;
}

.email .icon  {
    font-size: 20px;
}

.location .icon {
    left: 13px;
    font-size: 30px;
}

.phone .icon {
    font-size: 25px;
}

.links .icon {
    top: 10px;
}

.github .icon {
    font-size: 25px;
}

.twitter .icon {
    top: 12px;
    font-size: 25px;
}

.vk .icon {
    left: 7px;
    top: 12px;
    font-size: 24px;
}

@media all and (max-width: 970px) {
    .piece {
        margin-left: 10px;
    }

    .piece:first-child {
        margin-left: 0;
    }
}

@media all and (max-width: 890px) {
    .list {
        display: inline-block;
        vertical-align: top
    }

    .links {
        margin-top: 25px;
        margin-left: 20px
    }

    .piece {
        display: block;
        margin: 0 auto
    }

    .piece, .piece:first-child {
        margin: 0 auto
    }
}

@media all and (max-width: 585px) {
    .list {
        display: block
    }

    .links {
        margin-left: 0
    }

    .piece, .piece:first-child {
        margin: 0 auto
    }
}

@media all and (max-width: 585px) and (max-height: 715px) {
    .links {
        margin-top: 15px
    }
}